.box1{
    background-color: aqua;
    position: static;
    top: 50px;
    height: 100px;
    width: 30%;
    margin: 10px;
}
.box2{
    background-color: red;
    height: 100px;
    width: 30%;
    position: absolute;
    top: 20px;
    margin: 10px;
    z-index: 1;
    left: 10px;
}
.box3{
    background-color: brown;
    height: 100px;
    width: 30%;
    margin: 10px;
    z-index: 3;
    position: relative;
}