.box1{
    height: 70px;
    width: 100%;
    margin: 15px;
    border: solid black;
    background-color: beige;
}
.box2{
    height: 70px;
    width: 100%;
    margin: 15px;
    border: 20px;
    border: solid black;
    background-color: beige;
}
.box3{
    height: 500px;
    width: 100%;
    margin: 15px;
    border: solid black;
    background-color: beige;
    display: inline-block;
}
.box4{
    height: 500px;
    width: 70%;
    border: solid black;
    background-color: beige;
    display: inline-block;
}
.box5{
    height: 500px;
    width: 26%;
    vertical-align: top;
    background-color: beige;
    display: inline-block;
}
.box6{
    height: 244px;
    width: 99%;
    background-color: beige;
    display: inline-block;
}
.box7{
    height: 250px;
    width: 99%;
    border: solid black;
    background-color: beige;
    display: inline-block;
}
.box8{
    height: 70px;
    width: 100%;
    margin: 15px;
    border: 20px;
    border: solid black;
    background-color: beige;
}