.box1{
    height: 70px;
    width: 100%;
    background-color: rgb(165, 154, 160);
}
.box2{
    height: 50px;
    width: 100%;
    background-color: rgb(77, 74, 75);
}
.box3{
    height: 350px;
    width: 100%;
    display: inline-block;
}
.box4{
    height: 300px;
    width: 60%;
    margin: 20px;
    background-color: gray;
    display: inline-block;
}
.box5{
    height: 300px;
    width: 20%;
    margin: 10px;
    background-color: gray;
    display: inline-block;
}
.box6{
    height: 70px;
    width: 100%;
    background-color:  rgb(165, 154, 160);
}