.box1{
    height: 330px;
    width: 100%;
    border: solid black;
    background-color: lightpink;
}
.box2{
    height: 70px;
    width: 100%;
    background-color: lightpink;
}
.box3{
    height: 70px;
    width: 100%;
    background-color: darkviolet;
}
.box4{
    height: 120px;
    width: 100%;
    background-color: white;
}
.box5{
    height: 70px;
    width: 100%;
    background-color: palevioletred;
}

