.box1{
    height: 330px;
    width: 100%;
    border: solid black;
    background-color: lightpink;
}
.box2{
    height: 70px;
    width: 100%;
    background-color: lightpink;
}
.box3{
    height: 70px;
    width: 100%;
    background-color: darkviolet;
    display: inline-block;
}
.box4{
    height: 130px;
    width: 100%;
    display: inline-block;
}
.box5{
    height: 130px;
    width: 37%;
    background-color: palevioletred;
    display: inline-block;
}
.box6{
    height: 130px;
    width: 61.9%;
    background-color: white;
    display: inline-block;
}
.box7{
    height: 60px;
    width: 100%;
    background-color: violet;
    display: inline-block;
}