.icon{
    position: relative;
    background-color: rgba(251, 178, 68, 0.5);
    height: 35px;
    width: 35px;
    border-radius: 35px;
    display: flex;
    justify-content: end;
}
.downloadbutton{
    background-color: #081158;
    color: gold;
}
.downloadbutton:hover{
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.1s;
}
.workbutton{
    background-color: #081158;
    color: white;
    width: 150px;
    padding: 10px;
    text-align: center;
}
.workbutton:hover{
    background-color: white;
    color: #081158;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.1s;
}
.contactbutton{
    background-color: white;
    color: #081158;
    width: 140px;
    padding: 10px;
    text-align: center;
}
.contactbutton:hover{
    background-color: #081158;
    color: white;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.1s;
}
.aboutusbutton{
    background-color: #081158;
    color: white;
    width: 120px;
    padding: 10px;
}
.aboutusbutton:hover{
    background-color: white;
    color: #081158;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.1s;
}
.img1{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgba(251, 178, 68, 0.5);
    position: relative;
    display: flex;
    justify-content:start;
}
.footer{
    margin-top: 100px;
    margin-bottom: 80px;
}

@media only screen and (max-width:480px) {
    .navbar-toggler{
        display: flex;
        justify-content: end;
        border: none;
    }
    .workbutton{
        background-color: #081158;
        color: white;
        width: 120px;
        padding: 10px;
        text-align: center;
    }
    .contactbutton{
        background-color: white;
        color: #081158;
        width: 120px;
        padding: 10px;
        text-align: center;
    }
    .icon{
        display: flex;
        position: relative;
        justify-content: center;
    }
    .button{
        margin-top: 50px;
        width: 100%;
    }
    .herosection{
        margin-top: 200px;
    }
    .subheading{
        height: 25px;
    } 
    .heading{
        font-size: medium;
    }
    .section{
        margin-top: 100px;
    }
    .section-1{
        margin-top: 200px;
    }
    /* .icon{
        position: absolute;
        background-color: rgb(245, 178, 54);
        height: 40px;
        width: 40px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
    } */
    #offcanvasRight{
        width: 60% !important;
    }
}

@media only screen and (max-width:768px) {
    .navbar-toggler{
        display: flex;
        justify-content: end;
        border: none;
    }
    .icon{
        display: flex;
        position: relative;
        justify-content: center;
    }
    .herosection{
        margin-top: 200px;
    }
    .subheading{
        height: 25px;
    } 
    .heading{
        font-size: medium;
    }
    .button{
        margin-top: 50px;
    }
    .section{
        margin-top: 100px;
    }
    .section-1{
        margin-top: 200px;
    }
    /* .icon{
        position: relative;
        background-color: rgb(245, 178, 54);
        height: 40px;
        width: 40px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
    } */
    #offcanvasRight{
        width: 30%;
    }
}