header{
    height: 770px;
    width: 100%;
    margin: 10px;
    background-color: rgb(177, 174, 171);
}
nav{
    height: 70px;
    width: 100%;
    background-color: rgb(252, 108, 187);
    display: flex;
}
p{
    margin: 10px;
    padding-top: 10px;
    display: flex;
}
.query{
    margin-left: 900px;
    height: 40px;
    margin-top: 10px;
}
.go{
    margin-top: 10px;
    background-color: black;
    color: white;
    height: 40px;
}
main{
    height: 500px;
    width: 100%;
    margin: 10px;
    display: flex;
}
.box1{
    height: 500px;
    width: 70%;
    background-color: rgb(245, 237, 238);
}
aside{
    height: 500px;
    width: 28%;
    margin-left: 5px;
    background-color: rgb(252, 108, 187);
    display: flex;
}
footer{
    height: 70px;
    width: 99%;
    margin: 5px;
    background-color: white;
    display: flex;
    align-items: center;
}