div{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 300px;
    flex-wrap: wrap;
}
h1{
    background-color: black;
    margin: 2px;
    padding: 2px;
    color: white;
}